/* Description: Master CSS file */
/*****************************************
Table Of Contents:
- General Styles
- Header
- Media Queries
******************************************/
/*****************************************
Colors:
- Body text - white #dee3e6
- Heading text - white #ffffff
- Buttons, icons - blue #0984e3
******************************************/
/**************************/
/*     General Styles     */
/**************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
body,
p {
  color: #dee3e6;
  font: 400 1rem/1.625rem "Poppins", sans-serif;
}
h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 3.75rem;
}

h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.25rem;
}

h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.5rem;
}

h4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.125rem;
}

h5 {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h6 {
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
}
.p-small {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.p-large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
img {
  max-width: 100%;
  vertical-align: middle; /* solves a gap when inside image-container */
}
ul {
  list-style-type: none;
}

.li-space-lg li {
  margin-bottom: 0.5rem;
}

a {
  color: #dee3e6;
  text-decoration: underline;
}

a:hover {
  color: #dee3e6;
  text-decoration: underline;
}
.no-line,
.no-line:hover {
  text-decoration: none;
}

.form-group {
  margin-bottom: 1.25rem;
}
